## Advent of Code 2022
### Day 1
#### Part 1

In [44]:
import pandas as pd
import numpy as np
import math

In [38]:
day = pd.read_csv('data/day01.txt', sep="\n",names=['cals'], skip_blank_lines=False, dtype="float")

day.head(10)

      cals
0   5916.0
1   7281.0
2   1715.0
3   3853.0
4  10283.0
5   1455.0
6   7807.0
7   6117.0
8      NaN
9  33711.0

In [39]:
max_cals = 0
elf = 0
for _, row in day.itertuples():
    if math.isnan(row):
        if elf > max_cals:
            max_cals = elf
        elf = 0
    else:
        elf += row

In [40]:
max_cals

71124.0

#### Part 2

In [42]:
elf_cals = []
elf = 0
for _, row in day.itertuples():
    if math.isnan(row):
        elf_cals.append(elf)
        elf = 0
    else:
        elf += row

In [45]:
top_n = 3
top_n_cals = 0
for i in range(top_n):
    idx = np.argmax(elf_cals)
    top_n_cals += elf_cals.pop(idx)

top_n_cals

204639.0